<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
            http://www.springframework.org/schema/task
            http://www.springframework.org/schema/task/sping-task-4.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!--配置springmvc的文件，包含 网站跳转！的逻辑相关的控制和配置 -->
	<!--注解扫描 -->
	<context:component-scan
		base-package="com.six" />

	<!--  配置拦截器 -->

 <!--<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/admin/**"/>
			<mvc:exclude-mapping path="/admin/loginFunction"/>
			<bean class="com.six.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>-->


	<!--配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 配置springmvc不能处理的请求交给tomcat -->
	<!-- <mvc:default-servlet-handler/> -->
	<!--配置注解驱动，适用于更高级的注解的功能 -->
 	<mvc:annotation-driven />


	<!-- 对静态资源文件的访问 -->
	<!-- <mvc:resources mapping="/img/**" location="/WEB-INF/img/" /> -->
	<!-- <mvc:resources mapping="/js/**" location="/WEB-INF/js/" /> -->
	<!-- 静态资源配置 -->
	<mvc:resources mapping="/res/**" location="/WEB-INF/res/" />
	
	<!-- 上传文件 -->    
 	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"/>
		<!-- 最大内存大小 -->
		<property name="maxInMemorySize" value="102400"/>
		<!-- 最大文件大小，-1为不限制大小     value="204800"  1024*200即200k     -->
		<property name="maxUploadSize" value="20480000"/>
	</bean>

	<!-- 接口跨域配置 -->
	<!--<mvc:cors>
		<mvc:mapping path="/**"
					 allowed-origins="*"
					 allowed-methods="POST, GET, OPTIONS, DELETE, PUT"
					 allowed-headers="Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
					 allow-credentials="true" />
	</mvc:cors>
-->


</beans>